html {
  scroll-behavior: smooth;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
/* Styles pour le thème par défaut */
/* Styles pour le thème par défaut */
body, body::before {
  box-sizing: border-box;
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-image: url('./assets/wave-test.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.night {
  background-image: url('./assets/wave-dark.svg');
}

/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.app {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    z-index: 10;
}

@media (max-width: 768px) {
    .app {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 564px) {
  .app {
      padding-left: 14px;
      padding-right: 14px;
  }
}


